<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<button class="button button-clear button-positive" ng-click="closeCreatePetModal()">取消</button>
		<div class="h1 title">添加龟宝宝</div>
		<button class="button button-clear button-positive" ng-click="createPet()">保存</button>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<img id="createPetAvatar" style="max-width: 100%">
			</div>
			<div class="col col-75">
				<label class="item item-input">
					<input id="createPetName" name="createPetName" type="text" placeholder="名字">
				</label>
				<label id="createPetBirthdayLabel" class="item item-input">
					<input id="createPetBirthday" name="createPetBirthday" ng-click="openDatePicker()" type="date" placeholder="出生/领养日期">
				</label>
			</div>
		</div>
		<div class="list list-inset">
			<label class="item item-input item-select">
				<div class="input-label">
					品种
				</div>
				<select id="createPetCategory" name="createPetCategory">
					<option value="0" selected>陆龟</option>
					<option value="1">水龟</option>
					<option value="2">半水龟</option>
				</select>
			</label>
		</div>
	</ion-content>
</ion-modal-view>