<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs id="tabs" class="tabs-icon-top tabs-positive">

  <ion-tab title="龟宝宝" icon="ion-home" ui-sref="tabs.pet.list">
    <ion-nav-view name="pet-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="龟龟小报" icon="ion-ios-bookmarks" ui-sref="tabs.article">
    <ion-nav-view name="article-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon="ion-person" ui-sref="tabs.user.main">
    <ion-nav-view name="user-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>