<ion-view view-title="我的爱龟龟">
	<ion-content>
		<div class="list">
			<a class="item item-avatar item-icon-right" href="#/user/detail" ng-click="hideTabs()">
				<img ng-src="data:image/jpeg;base64,{{ user.avatar }}">
				<h2 ng-bind="user.name"></h2>
				<p>
					<span ng-bind="user.grade"></span>级
				</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<div class="item item-divider"></div>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-arrow-graph-up-right"></i>
				我的积分
				<span class="badge badge-light">0</span>
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-star"></i>
				我的收藏
				<span class="badge badge-positive">0</span>
			</a>
			<div class="item item-divider"></div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-gear-a"></i>
				通用设置
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>